<div class="tables">

<!--  <% @party.each do |party| %>
  <a href="/parties/<%= party.id %>/orders/new"> Party <%= party.id %> </a>
  <% end %> -->
  <h5><a href="/parties/new">New Party</a></h5>
  <br>
  <h5><a href="/kitchen">Order Status</a></h5>
  <br>
  <% @party.each do |party|%>
    <h6>Table: <%= party.table_num%></h6>
    <h6>Name: <%= party.last_name%></h6>
    <h6><a href="/parties/<%= party.id %>/orders/new">Add Order</a></h6>
    <h6><a href="/parties/<%= party.id %>/orders/show">View Check</a></h6>
    <br>
    <br>

  <% end%>

</div>

<!--
<div class="row">
  <div class="one-third column">
    <div class="table-one">
      <div class="row">
        <div class="twelve columns">
          <div class="table-head">
            <h4>Table 1</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="one-half column">
          <div class="table-options">
            <div class="add-order-button">
              <h6><a href="/orders%>">Add Order</a></h6>
            </div>
          </div>
        </div>
        <div class="one-half column">
          <div class="view-check-button">
            <h6><a href="#">View Check</a></h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="one-third column">
    <div class="table-two">
      <div class="row">
        <div class="twelve columns">
          <div class="table-head">
            <h4>Table 2</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="one-half column">
          <div class="table-options">
            <div class="add-order-button">
              <h6><a href="/orders">Add Order</a></h6>
            </div>
          </div>
        </div>
        <div class="one-half column">
          <div class="view-check-button">
            <h6><a href="#">View Check</a></h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="one-third column">
    <div class="table-three">
      <div class="row">
        <div class="twelve columns">
          <div class="table-head">
            <h4>Table 3</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="one-half column">
          <div class="table-options">
            <div class="add-order-button">
              <h6><a href="/orders">Add Order</a></h6>
            </div>
          </div>
        </div>
        <div class="one-half column">
          <div class="view-check-button">
            <h6><a href="#">View Check</a></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="one-third column">
    <div class="table-four">
      <div class="row">
        <div class="twelve columns">
          <div class="table-head">
            <h4>Table 4</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="one-half column">
          <div class="table-options">
            <div class="add-order-button">
              <h6><a href="/orders">Add Order</a></h6>
            </div>
          </div>
        </div>
        <div class="one-half column">
          <div class="view-check-button">
            <h6><a href="#">View Check</a></h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="one-third column">
    <div class="table-five">
      <div class="row">
        <div class="twelve columns">
          <div class="table-head">
            <h4>Table 5</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="one-half column">
          <div class="table-options">
            <div class="add-order-button">
              <h6><a href="/orders">Add Order</a></h6>
            </div>
          </div>
        </div>
        <div class="one-half column">
          <div class="view-check-button">
            <h6><a href="#">View Check</a></h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="one-third column">
    <div class="table-six">
      <div class="row">
        <div class="twelve columns">
          <div class="table-head">
            <h4>Table 6</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="one-half column">
          <div class="table-options">
            <div class="add-order-button">
              <h6><a href="/orders">Add Order</a></h6>
            </div>
          </div>
        </div>
        <div class="one-half column">
          <div class="view-check-button">
            <h6><a href="#">View Check</a></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->
