<h1>New Employees</h1>
<h3>Currently logged in as: <%= current_manager.man_name %></h3>

<%= button_to "Log Out", sessions_path, method: :delete %>

<h2><a href="/parties">Tables</a></h2>


<h4>Enter New Employee</h4>
<%= form_for @employee do |f| %>
  <%= f.label :emp_num, 'Employee Number:' %>
  <%= f.text_field :emp_num %>
  <%= f.label :emp_class, 'Employee Class:' %>
  <%= f.text_field :emp_class %>
  <%= f.label :emp_name, 'Employee Name:' %>
  <%= f.text_field :emp_name %>
  <%= f.submit %>
<% end %>


<ul>
  <% @employees.each do |employee| %>
    <li>
      <%= employee.emp_name %> <%= button_to "Remove", employee_path(employee), method: :delete%>
    </li>
  <% end %>
</ul>
