<h1>New Order</h1>

<a href="/parties">Back to Tables</a>


<%= form_for @order do |f| %>
  <%= f.collection_select(:party_id, Party.all, :id, :table_num) %>
  <%= f.collection_select(:menu_id, Menu.all, :id, :item_name) %>
  <%= f.collection_select(:mod_id, Mod.all, :id, :mod_name) %>
  <%= f.submit %>
<% end %>


<ul>
  <% @orders.each do |order| %>
    <li>
      <%= order.party.table_num %> wants
      <%= order.menu.item_name %> with
      <%= order.mod.mod_name %>
      <%= button_to "Edit", order_path(order), method: :edit%>
      <%= button_to "Remove", order_path(order), method: :delete%>

    </li>
  <% end %>
</ul>
