<h1>New Order for <%= @party.last_name %></h1>

<a href="/parties">Back to Tables</a>

<%= form_for @order do |f| %>
  <%= f.collection_select(:menu_id, Menu.all, :id, :item_name) %>
  <%= f.collection_select(:mod_id, Mod.all, :id, :mod_name) %>
  <%= f.hidden_field :party_id, :value => @party.id%>
  <%= f.submit %>
<% end %>
