<h1>Order Tracker</h1>

<a href="/parties">Tables</a>

<ul>
<% @allorders.each do |order| %>

  <% if order.menu %>
    <%= order.id %> ||| <%= order.menu.item_name %> ||| <%= order.mod.mod_name %> ||| <%= order.comment %>
  <% end %>
  <br>
  <% if order.party %>
    <%= order.party.table_num %> <%= order.party.last_name %>
  <% end %>

  <% if order.complete %>
    
      <% if order.complete == false %>
        <form action="/orders/<%= order.id %>/is_complete" method="post">
          <input type="hidden" name="_method" value="put">
          <input type="submit" value="Complete"></input>
        </form>
      <% end %>

  <br>
  <br>

  <% else %>
  <h5>Completed Orders</h5>
  <%= order.id %> ||| <%= order.menu.item_name %> ||| <%= order.mod.mod_name %> ||| <%= order.comment %>
  <form action="/orders/<%= order.id %>/is_complete" method="post">
    <input type="hidden" name="_method" value="put">
    <input type="submit" value="Complete"></input>
  </form>
  <% end %>

  <% end %>
</ul>
